	
        <div>
          <!-- top tiles -->
		      <div class="well" style="overflow: auto">
		       <div class="col-md-10 left-margin">
		  	            <label> Seleccionar Linea:</label>
                        
                          <select id="idPLC" class="form-control" ng-model="selLinea" ng-change="activateRealtime()" type="checkbox" ng-options="maquinas.idMaquina as maquinas.nombre for maquinas in maquinas">
                            <option value="">-- Seleccionar --</option>

                          </select>
                        
				</div>	
			</div>	
					
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-clock-o"></i> Turno Actual</span>
              <div class="count" align="center" ng-bind="turnoActual.descTurno"></div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i> Restante</i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Arrancado</span>
			  

			<div class="count" ng-if="descDet != null" ng-bind="descDet"></div>
			<div class="count" ng-if="descDet == null" ng-bind="tag1Vacio"></div>
<!--			  <div ng-switch  on="descDet">
			  	<div class="count" ng-switch-when="!= null" ng-bind="descDet"></div>
				<div class="count" ng-switch-when="== null" ng-bind="tag1Vacio"></div>
			  </div>-->
			  
			  
			  
			  
              <span class="count_bottom"><i class="green">00:00:00 </i> Funcionamiento</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Velocidad Actual </span>
              <div class="count green" ng-bind="tag3.velocidad">-</div>
              <span class="count_bottom" ng-if="tag3.velocidad >= velSet" ><i class="green"><i class="fa fa-sort-asc" ng-bind=velSet></i></i>Velocidad Meta</span>
              <span class="count_bottom" ng-if="tag3.velocidad < velSet" ><i class="red"><i class="fa fa-sort-desc"></i></i></span>

            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Produccion </span>
              <div class="count" ng-bind="tag4.valor">-</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>0 </i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Detenido </span>
	         
			  <div class="count" ng-if="descDet5 != null" ng-bind="descDet5"></div>
			  <div class="count" ng-if="descDet5 == null" ng-bind="tag5Vacio"></div>
			  <span class="count_bottom" ng-if="descDet5 == 'Si'" ><i class="red"><i class="fa fa-sort-desc"></i></i></span>
			  <span class="count_bottom" ng-if="descDet5 == 'No'" ><i class="green"><i class="fa fa-sort-asc"></i></i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Eficiencia </span>
              <div class="count" ng-bind="eficiencia"></div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i></span>
            </div>
          </div>
          <!-- /top tiles -->

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">

				  <div class="x_title">
                    <h2>Transaction Summary <small>Weekly progress</small></h2>
                    <div class="filter">
                      <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
							<canvas id="line" class="chart chart-line" chart-data="data"
							chart-labels="labels" chart-series="series" chart-options="options"
							chart-dataset-override="datasetOverride" chart-click="onClick">
							</canvas> 
                </div>
                
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                  <div class="x_title">
                    <h2>Ultimos Turnos</h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-6">
                    <div>
                      <p ng-bind="titulo1"></p>
                      <div class="">
                      	<small ng-bind="pr1"></small><small>% de Eficiencia</small>
                        <div id="parametro_1" class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <p ng-bind="titulo2"></p>
                      <div class="">
                        <small ng-bind="pr2"></small><small>% de Eficiencia</small>
                        <div id="parametro_2" class="progress progress_sm" style="width: 76%;">
                        	
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-6">
                    <div>
                      <p ng-bind="titulo3"></p>
                      <div class="">
                        <small ng-bind="pr3"></small><small>% de Eficiencia</small>
                        <div id="parametro_3" class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <p ng-bind="titulo4"></p>
                      <div class="">
                      	<small ng-bind="pr4"></small><small>% de Eficiencia</small>
                        <div id="parametro_4" class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="clearfix"></div>
              </div>
            </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Clasificacion de Paros</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <canvas id="doughnut" class="chart chart-doughnut"
  							chart-data="dataGr1MP" chart-labels="labelsGr1MP">
					</canvas> 

                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Clasificación de Fallas</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

							<canvas id="pie" class="chart chart-pie"
							  chart-data="dataGr2MP" chart-labels="labelsGr2MP" chart-options="optionsGrMP">
							</canvas>

                  </div>
                </div>
              </div> 
              
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Duracion de Paradas</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

							<canvas id="bar" class="chart chart-bar" chart-data="dataGr3MP" chart-labels="labelsGr3MP" chart-series="seriesGr3MP"> 
							</canvas>

                  </div>
                </div>
              </div>              
          </div>
          

             
              
          <div class="row">


      

           

                        <div class="row">


                <!-- Start to do list -->
                <!-- end of weather widget -->
              </div>
            </div>
          </div>
        </div>
        
        
     